card_body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg,#00bcd4,#ffeb3b);
    margin-bottom: 40px;
    /* margin-left: 5px;
    margin-right: 5px; */
}
.card_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}   
.card_container .kard{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
}
.card_container .kard:hover{
    height: 500px;
}
.card_container .kard .imagebx{
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}
.card_container .kard:hover .imagebx{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0,0,0,0.2);
}
.card_container .kard .imagebx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card_container .kard .content1{
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0 30px;
    height: 30px;
    overflow: hidden;
    text-align: left;
    transition: 0.5s;
}
/* li {
    text-align: left;
} */
.card_container .kard:hover .content1{
    top: 130px;
    height: 350px;
}
.card_container .kard .content1 h2{
    font-size: 1.5em;
    font-weight: 700;
    color: var(--clr);
}
.card_container .kard .content1 p{
    color:#333;
}
.name{
    text-align: center;
    font-weight: 1000;
    font-size: xx-large;
    color:rgb(243, 145, 24);
}
