*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.event_body {
    width: 99%;
    
    height: auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content:safe;
    margin-left: 10px;
    margin-bottom: 40px;
    
}
.event_card{
    width: 450px;
    height: 300px;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    border: 8px solid #fff;
    position: relative;
    align-items: center;
}
.event_card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.event_card_body{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%; 
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
} 
.event_card:hover .event_card_body{
    right: 0;
}
.event_card_title{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
}
.event_card_sub_title{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
    align-self: center;
}
.event_card_info{
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0;
    font-weight: 400;
}
.event_card_btn{
   color: #1f3d47; 
   background: #8fabba;
   padding: 10px 20px;
   width: 120px;
   align-self: center;
   border-radius: 5px;
   text-transform: capitalize;
   border: none;
   outline: none;
   font-weight: 500;
   cursor: pointer;
}

.notice{
    font-size: 20px;
    font-weight: 600;
    color: #333;
    background-color: #f10a0a;
  }