  header {
    background-color:white;
    color: #111111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    
    }
  
  .logo img {
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
   
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size:large;
    font-family:Arial, sans-serif;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    display: block;
    color: #1d1b1b;
    text-decoration: none;
    padding: 10px;
    font-weight: 300;
  }
  
  nav ul li a:hover {
    background-color: #b3b4b6;
  }
  
  nav ul li a.active {
    font-weight: 600;
  }

  /* Image slider css starts */
  body {
    margin: 0;
    padding: 0;
  }
  
  .slider-container {
    position: relative;
    width: auto;
    height: 785px;
    margin: 0 auto;
    overflow: hidden;
    /* margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px; */
    /*cursor: pointer;*/
  }

  .slider {
    position: relative;
    width: auto;
    height: 780px;
    overflow: hidden;
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-radius: 5px;
  }

  .slider img {
    width: 100%;
    /* height: 100%; */
    align-self: self-end;
  }

  /*.slider-controls {
    position:relative;
    width: 98%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    margin-right: 10px;
  }

  .slider:hover .slider-controls {
    opacity: 1;
  }

  .slider-container:hover .slider-controls {
    opacity: 1;
  }/*
  
  

/*image slider ends*/  
  
  /*body css*/
  .notice-marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background-color: #ec0d0d;
    padding: 10px 0;
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    display: block;
    text-align: center;
}

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

  
  .two-column-section {
    display: flex;
    margin-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 1.5;
    align-items: center;
  }
  .two-column-section:nth-child(even) {
    background-color: rgba(26, 111, 209, 0.623);
  }

  .image-column:nth-child(odd) {
    padding-top: 34px;
    
  }

  .image-column:nth-child(even) {
    /* padding-top: 80px;
    padding-left: 80px; */
    width:1.2em;
    padding: 2% 10px;
    
  }
 
  .image-column {
    flex-basis: 50%;
    flex:1;
  }
  
  .image-column img:nth-child(2) {
    float:left;
  }

  .image-column img {
    width:fit-content;
    height: fit-content;
    align-self: self-end;
    
    
  }
  
  .description-column {
    flex-basis: 50%;
    background-color:none;
    /* padding: 20px; */
  }
  
  @media only screen and (max-width: 900px) {
    .two-column-section {
      flex-direction: column;
    }
  
    .image-column,
    .description-column {
      flex-basis: 100%;
    }
    .slider-container {
      height: 170px;
    }
    .image-column img{
      height: 170px;
    }
  }
  
  h2 {
        text-align:center;
  }
  ul{
    padding: 20px;
  }
  li{
    padding: 5px;
  }
  /*testimonial starts */
  
/*testimonial ends */  

/*Footer Starts*/
.footer {
  background-color:rgb(51, 109, 175);
  color: #fff;
  text-align: center;
}

.container {
  max-width: auto;
  
}

.footer-columns {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;

}

.footer-column {
  flex-basis: 33%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #faf7f7;
 
}

.footer h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer p {
  margin-left: 10px;
  font-size: 16px;
  align-self: justify;
  font-family: Arial,  sans-serif;
  line-height: 20px;
}

.quick-links {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 10px;
  font-family: Arial,  sans-serif;
}

.quick-links li {
  margin-bottom: 0px;
  font-size: 15px;

}

.quick-links li a {
  color:rgb(244, 243, 247);
  text-decoration: underline;
  
}

.quick-links li a:hover {
  color: rgb(219, 100, 243);
}

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info li {
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 15px;
}

.contact-info li i {
  margin-right: 10px;
  vertical-align: middle;
}

.sci{
  margin-top: 40px;
  display: flex;
  color: #fff;
  font: size 1.1em;
}
.sci li{
  list-style: none;
  margin-right: 15px;
}
.sci li a{
  color:#fff;
  font-size: 2em;
  color: #ccc;
}
.sci li a:hover{
  color: #fff;
}
/*footer ends*/


